<html xmlns:th="https://www.thymeleaf.org">
<body>
<div>
    <form method = "POST" enctype = "multipart/form-data" action="single/uploadDB">
        <table>
            <tr>
                <td>
                    File to upload:
                </td>
                <td>
                    <input type = "file"
                    name = "file" />
                </td>
            </tr>
            <tr>
                <td>

                </td>
                <td>
                <input type = "submit"
                       Value = "Upload" />
                </td>
            </tr>
        </table>
    </form>
</div>

</body>
</html>